[program:<USER>]
directory=/usr/local/webapp/<USER>/code
command=perl -Mlib=/usr/local/webapp/<USER>/perl5/lib/perl5 /usr/local/webapp/<USER>/perl5/bin/plackup -R /usr/local/webapp/<USER>/code/ -p <PORT> -E deployment /usr/local/webapp/<USER>/code/app.psgi
autostart=true
autorestart=true
stdout_logfile=/var/log/supervisor/<USER>.log
stderr_logfile=/var/log/supervisor/<USER>.log
stopsignal=INT
user=<USER>
environment=HOME=/usr/local/webapp/<USER>/,USER=<USER>,FOO=bar
